/*
 * Theme Name: Steven Stephenson
 * Theme URI: stevenstephenson.com
 * Description: The Personal Site of Steven Stephenson
 * Author: Steven Stephenson
 * Version: 4.1
 * Tags: html5 
*/

@import 'reset';

// Sassy Settings 
$primary-color: #232423; // Dark Grey 
$secondary-color: #BDC4C4; // Light Grey 
$tertiary-color: #EB2800; // Red
//$tertiary-color: #f2d03b; // Yellow

/* Base ----------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lucida Grande';
	color: #f3fdde;
	background: #141517;
	x-font-smooth:always;
	-webkit-font-smoothing: antialiased;
}
/* Links ------------------------ */


/* Layout --------------------------------------------------------- */

.container {
	width: 90%;
	margin: 0 auto;
	@media screen and (min-width: 800px) {
		width: 62.5%;
	}
}

/* Grid ------------------------------------------------------- */
h2 {
	font-family: 'Pacifico';
	text-decoration: underline;
	line-height: 2em;
}

/* Logo --------------------------------------------------------- */


/* Navigation --------------------------------------------------------- */

.main-navigation {
	font-family: 'PT Sans';
	font-weight: bold;
	text-transform: uppercase;
}

.branding {
	width: 100px;
	height: 100px;
	x-margin: 0 auto;

	border: 10px solid #141517;
	border-radius: 100px;

	font-family: 'Maven Pro';
	font-weight: bold;
	font-size: 3.5em;
	text-align: center;
	line-height: 75px;

	transition: all linear .2s;
}
.branding:hover {
	font-size: 5em;
	width: 150px;
	height: 150px;
	line-height: 115px;
}
#banner {
	padding: 1.5em 0;
}

/* Hero --------------------------------------------------------- */

#hero {
	padding: 2em 0;
}

.hero-heading {
	font-size: 2em;
	font-family: 'Roboto Slab';
	text-align: center;
	@media screen and (min-width: 500px) {
		font-size: 2.75em;
		
		padding: 1em 0 2em
	}
}

/* Recent Articles --------------------------------------------------------- */

.recent-articles {
	padding: 1em 0 0 0;
	margin: 0;

	border-top: 5px solid #8a95a4;

	list-style: none;

	li {
		padding-bottom: .5em;
		margin-top: .5em;
		border-bottom: 1px solid #8a95a4;
	}

	time {
		display: inline-block;
		width: 25%;
	}
	h1 {
		display: inline-block;

		font-family: 'PT Sans';
		font-size: 1.5em;
		a {
			color: #333333;
			text-decoration: none;
		}
	}
}





/* Helpers -------------------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

