/*
 * Theme Name: Steven Stephenson
 * Theme URI: stevenstephenson.com
 * Description: The Personal Site of Steven Stephenson
 * Author: Steven Stephenson
 * Version: 4.1
 * Tags: html5 
*/
/* normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../s/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../s/_reset.scss */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../s/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../s/_reset.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../s/_reset.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */ }

/**
 * Remove default margin.
 */
/* line 80, ../s/_reset.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 92, ../s/_reset.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 101, ../s/_reset.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 114, ../s/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 123, ../s/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 132, ../s/_reset.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 140, ../s/_reset.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 148, ../s/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 158, ../s/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 170, ../s/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 179, ../s/_reset.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 187, ../s/_reset.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 195, ../s/_reset.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 204, ../s/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 211, ../s/_reset.scss */
sup {
  top: -0.5em; }

/* line 215, ../s/_reset.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 227, ../s/_reset.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 235, ../s/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 247, ../s/_reset.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 259, ../s/_reset.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 270, ../s/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 284, ../s/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 296, ../s/_reset.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 308, ../s/_reset.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 323, ../s/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 333, ../s/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 343, ../s/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 354, ../s/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 367, ../s/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 376, ../s/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 386, ../s/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 399, ../s/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base ----------------------------------------------------------- */
/* line 20, ../s/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 26, ../s/main.scss */
body {
  font-family: 'Lucida Grande';
  color: #f3fdde;
  background: #141517;
  x-font-smooth: always;
  -webkit-font-smoothing: antialiased; }

/* Links ------------------------ */
/* Layout --------------------------------------------------------- */
/* line 38, ../s/main.scss */
.container {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 800px) {
    /* line 38, ../s/main.scss */
    .container {
      width: 62.5%; } }

/* Grid ------------------------------------------------------- */
/* line 47, ../s/main.scss */
h2 {
  font-family: 'Pacifico';
  text-decoration: underline;
  line-height: 2em; }

/* Logo --------------------------------------------------------- */
/* Navigation --------------------------------------------------------- */
/* line 58, ../s/main.scss */
.main-navigation {
  font-family: 'PT Sans';
  font-weight: bold;
  text-transform: uppercase; }

/* line 64, ../s/main.scss */
.branding {
  width: 100px;
  height: 100px;
  x-margin: 0 auto;
  border: 10px solid #141517;
  border-radius: 100px;
  font-family: 'Maven Pro';
  font-weight: bold;
  font-size: 3.5em;
  text-align: center;
  line-height: 75px;
  transition: all linear 0.2s; }

/* line 80, ../s/main.scss */
.branding:hover {
  font-size: 5em;
  width: 150px;
  height: 150px;
  line-height: 115px; }

/* line 86, ../s/main.scss */
#banner {
  padding: 1.5em 0; }

/* Hero --------------------------------------------------------- */
/* line 92, ../s/main.scss */
#hero {
  padding: 2em 0; }

/* line 96, ../s/main.scss */
.hero-heading {
  font-size: 2em;
  font-family: 'Roboto Slab';
  text-align: center; }
  @media screen and (min-width: 500px) {
    /* line 96, ../s/main.scss */
    .hero-heading {
      font-size: 2.75em;
      padding: 1em 0 2em; } }

/* Recent Articles --------------------------------------------------------- */
/* line 109, ../s/main.scss */
.recent-articles {
  padding: 1em 0 0 0;
  margin: 0;
  border-top: 5px solid #8a95a4;
  list-style: none; }
  /* line 117, ../s/main.scss */
  .recent-articles li {
    padding-bottom: .5em;
    margin-top: .5em;
    border-bottom: 1px solid #8a95a4; }
  /* line 123, ../s/main.scss */
  .recent-articles time {
    display: inline-block;
    width: 25%; }
  /* line 127, ../s/main.scss */
  .recent-articles h1 {
    display: inline-block;
    font-family: 'PT Sans';
    font-size: 1.5em; }
    /* line 132, ../s/main.scss */
    .recent-articles h1 a {
      color: #333333;
      text-decoration: none; }

/* Helpers -------------------------------------------------------- */
/* line 146, ../s/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 151, ../s/main.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 160, ../s/main.scss */
.clearfix {
  *zoom: 1; }
