/* Toast Framework - type.css */
body {
	font: 18px/1.8  merriweather, serif;
    text-rendering: optimizeLegibility

}

h1, h2 {
    font-family: league-gothic, sans-serif; 
    text-transform: uppercase
}

h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: 3em; /* 48 / 16 */
    line-height: 1em; /* 48 / 48 */
    margin-bottom: .5em; /* 24 / 48 */
}
h2 {
    font-size: 2.25em; /* 36 / 16 */
    line-height: 1.333333333333333em; /* 48 / 36 */
    margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h3 {
    font-size: 1.5em; /* 24 / 16 */
    line-height: 1.35em; /* 24 / 24 */
    margin-bottom: 1em; /* 24 / 24 */
}
h4 {
    font-size: 1.3125em; /* 21 / 16 */
    line-height: 1.142857142857143em; /* 24 / 21 */
    //margin-bottom: 1.142857142857143em; /* 24 / 21 */
    margin-bottom: .5em
}
h5 {
    font-size: 1.125em; /* 18 / 16 */
    line-height: 1.333333333333333em; /* 24 / 18 */
    margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
    font-size: 1em; /* 16 / 16 */
    line-height: 1.5em; /* 24 / 16 */
    margin-bottom: 1.5em; /* 24 / 16 */
}
p, ul, ol, dl, blockquote {
    margin-bottom: 1.5em; /* 24 / 16 */
}