////////// Imports ///////////
@import 'reset'
@import 'grid'
@import 'type'
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box


body
	background: url(../i/asfalt.png)
	//border: 1em #000 solid
	color: #f5f5f5

body
	-webkit-animation-name: fadeIn
	-moz-animation-name: fadeIn
	-o-animation-name: fadeIn
	animation-name: fadeIn
	-webkit-transition: opacity 0.5s
	-moz-transition: opacity 0.5s
	transition: opacity 0.5s
	animation-duration: 1s
a
	color: #F2D03B

@-webkit-keyframes fadeIn
	0% opacity: 0	
	100% opacity: 1

@-moz-keyframes fadeIn 
	0% opacity: 0	
	100% opacity: 1


@-o-keyframes fadeIn 
	0% opacity: 0	
	100% opacity: 1

@keyframes fadeIn 
	0% opacity: 0	
	100% opacity: 1


.fadeIn 
	-webkit-animation-name: fadeIn
	-moz-animation-name: fadeIn
	-o-animation-name: fadeIn
	animation-name: fadeIn


////////// Header //////////

nav[role=navigation]
	text-align: center
	margin-top: 2em
	padding-bottom: 1em
	ul
		margin-bottom: 0
		padding-left: 0
	li
		display: inline-block
		width: 25%
		a
			font-family: open-sans, serif
			text-transform: uppercase
			text-decoration: none
			font-weight: bold
			letter-spacing: 4px
.logo
	text-align: center
	padding-top: 1em
	img
		width: 125px

////////// Highlighted //////////
.highlight
	padding-bottom: 2em
p.bio
	font-size: 2em
	margin-bottom: 0
	padding: 0

////////// Work //////////
.work
	padding: 1em 0 2em
	margin: 2em 0
	background: #000

	header
		text-align: center
		h2
			padding-top: 0
			
	figure
		position: relative
		cursor: pointer

		figcaption
			position: absolute
			top: 0
			//display: block
			height: 97%
			width: 100%
			padding: 5%
			padding-top: 2em
			background: rgba(0, 0, 0, .8)
			text-align: center
			display: none

			h4
				font-family: open-sans, sans-serif
				font-size: 1em
				text-transform: uppercase

			p
				font-size: .75em
			a.btn
				background: #F2D03B
				padding: .5em 2em
				border-radius: 8px
				font-size: .75em
				text-decoration: none
				color: #333
		&.active
			figcaption
				display: block



////////// Blog Feed //////////
.hfeed
	header
		text-align: center
		h2
			margin: 0
	.entry
		padding-bottom: 1em
		time
			font-size: .75em
			font-style: italic
			color: #c1c1c1
		h4
			margin-bottom: .25em
			font-size: 1.125em
		p
			margin-top: .25em

////////// Project //////////
.project
	header
		text-align: center
		margin-top: .5em

		h2
			margin: 0
	.project__info
		.summary
			float: right

////////// Blog //////////
.blog article
	header
		h1 
			font-family: merriweather, serif
			text-transform: none
			font-size: 2em
			font-weight: normal
			margin-bottom: .25em
		time
			font-size: .75em
			font-style: italic
			color: #c1c1c1

////////// Info //////////
.info__content
	h3
		font-family: merriweather, serif
		font-weight: normal
		line-height: 1.35em
		text-transform: none
		margin-top: 0

footer
	text-align: center
	border-top: #000 solid 1px
	padding: 2em 0
	margin-top: 2em

	p
		margin: 0

	a
		text-decoration: none

@media screen and (max-width: 700px)
	body
		//border: .5em #000 solid

	nav[role=navigation]
		li
			display: inline-block
			width: 32%

	p.bio
		font-size: 1.5em

	.work
		figure
			figcaption
				height: 100%
