/* Toast Framework - type.css */
/* line 6, ../s/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: league-gothic, sans-serif; }

/* line 10, ../s/_type.scss */
h1 {
  font-size: 3em;
  /* 48 / 16 */
  line-height: 1em;
  /* 48 / 48 */
  margin-bottom: .5em;
  /* 24 / 48 */ }

/* line 15, ../s/_type.scss */
h2 {
  font-size: 2.25em;
  /* 36 / 16 */
  line-height: 1.333333333333333em;
  /* 48 / 36 */
  margin-bottom: .6666666666666667em;
  /* 24 / 36 */ }

/* line 20, ../s/_type.scss */
h3 {
  font-size: 1.5em;
  /* 24 / 16 */
  line-height: 1em;
  /* 24 / 24 */
  margin-bottom: 1em;
  /* 24 / 24 */ }

/* line 25, ../s/_type.scss */
h4 {
  font-size: 1.3125em;
  /* 21 / 16 */
  line-height: 1.142857142857143em;
  /* 24 / 21 */
  margin-bottom: 1.142857142857143em;
  /* 24 / 21 */ }

/* line 30, ../s/_type.scss */
h5 {
  font-size: 1.125em;
  /* 18 / 16 */
  line-height: 1.333333333333333em;
  /* 24 / 18 */
  margin-bottom: 1.333333333333333em;
  /* 24 / 18 */ }

/* line 35, ../s/_type.scss */
h6 {
  font-size: 1em;
  /* 16 / 16 */
  line-height: 1.5em;
  /* 24 / 16 */
  margin-bottom: 1.5em;
  /* 24 / 16 */ }

/* line 40, ../s/_type.scss */
p, ul, ol, dl, blockquote {
  margin-bottom: 1.5em;
  /* 24 / 16 */ }
