/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../s/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../s/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../s/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../s/_reset.scss */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../s/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../s/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../s/_reset.scss */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../s/_reset.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../s/_reset.scss */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../s/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 132, ../s/_reset.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 137, ../s/_reset.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 142, ../s/_reset.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 147, ../s/_reset.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 152, ../s/_reset.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../s/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../s/_reset.scss */
b,
strong {
  font-weight: bold; }

/* line 174, ../s/_reset.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../s/_reset.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../s/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../s/_reset.scss */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../s/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../s/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../s/_reset.scss */
q {
  quotes: none; }

/* 2 */
/* line 242, ../s/_reset.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 247, ../s/_reset.scss */
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../s/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 264, ../s/_reset.scss */
sup {
  top: -0.5em; }

/* line 268, ../s/_reset.scss */
sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../s/_reset.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 288, ../s/_reset.scss */
dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../s/_reset.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../s/_reset.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../s/_reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  width: 100%; }

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 333, ../s/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 346, ../s/_reset.scss */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 359, ../s/_reset.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
/* line 367, ../s/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 379, ../s/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 395, ../s/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 407, ../s/_reset.scss */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 421, ../s/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
/* line 432, ../s/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 444, ../s/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 456, ../s/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 468, ../s/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 478, ../s/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 488, ../s/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 502, ../s/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
Toast Framework - grid.css
*/
/* line 4, ../s/_grid.scss */
.wrap {
  max-width: 940px;
  padding: 10px;
  margin: 0 auto; }

/*
Column container
*/
/* line 12, ../s/_grid.scss */
.grids {
  width: auto;
  max-width: 960px;
  margin: 0 0 0 -1.7%;
  list-style: none;
  /* So we can make grids out of lists. */
  overflow: hidden;
  /* Clear the floats */
  letter-spacing: -0.25em;
  /* Fix inline-block weirdness */ }

/* line 24, ../s/_grid.scss */
.grids [class*="grid-"] {
  display: inline-block;
  margin: 0 0 0 1.7%;
  -webkit-box-sizing: border-box;
  /* Allow padding & borders on grids without breaking. IE8+ */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  letter-spacing: 0;
  /* And restore our letter spacing. */ }

/* line 33, ../s/_grid.scss */
.grid-1 {
  width: 6.15%; }

/* line 36, ../s/_grid.scss */
.grid-2 {
  width: 14.583%; }

/* line 39, ../s/_grid.scss */
.grid-3 {
  width: 22.917%; }

/* line 42, ../s/_grid.scss */
.grid-4, .grid-one-third {
  width: 31.25%; }

/* line 45, ../s/_grid.scss */
.grid-5 {
  width: 39.583%; }

/* line 48, ../s/_grid.scss */
.grid-6, .grid-half {
  width: 47.917%; }

/* line 51, ../s/_grid.scss */
.grid-7 {
  width: 56.25%; }

/* line 54, ../s/_grid.scss */
.grid-8, .grid-two-thirds {
  width: 64.583%; }

/* line 57, ../s/_grid.scss */
.grid-9 {
  width: 72.917%; }

/* line 60, ../s/_grid.scss */
.grid-10 {
  width: 81.25%; }

/* line 63, ../s/_grid.scss */
.grid-11 {
  width: 89.583%; }

/* line 66, ../s/_grid.scss */
.grid-12 {
  width: 97.917%;
  margin: 0; }

@media screen and (max-width: 700px) {
  /* line 71, ../s/_grid.scss */
  .grids {
    margin: 0;
    width: auto; }

  /* line 75, ../s/_grid.scss */
  .grids [class*="grid-"] {
    display: block;
    width: auto;
    margin: 0; } }
/* Toast Framework - type.css */
/* line 2, ../s/_type.scss */
body {
  font: 18px/1.8 merriweather, serif;
  text-rendering: optimizeLegibility; }

/* line 8, ../s/_type.scss */
h1, h2 {
  font-family: league-gothic, sans-serif;
  text-transform: uppercase; }

/* line 13, ../s/_type.scss */
h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

/* line 18, ../s/_type.scss */
h1 {
  font-size: 3em;
  /* 48 / 16 */
  line-height: 1em;
  /* 48 / 48 */
  margin-bottom: .5em;
  /* 24 / 48 */ }

/* line 23, ../s/_type.scss */
h2 {
  font-size: 2.25em;
  /* 36 / 16 */
  line-height: 1.333333333333333em;
  /* 48 / 36 */
  margin-bottom: .6666666666666667em;
  /* 24 / 36 */ }

/* line 28, ../s/_type.scss */
h3 {
  font-size: 1.5em;
  /* 24 / 16 */
  line-height: 1.35em;
  /* 24 / 24 */
  margin-bottom: 1em;
  /* 24 / 24 */ }

/* line 33, ../s/_type.scss */
h4 {
  font-size: 1.3125em;
  /* 21 / 16 */
  line-height: 1.142857142857143em;
  /* 24 / 21 */
  margin-bottom: 0.5em; }

/* line 39, ../s/_type.scss */
h5 {
  font-size: 1.125em;
  /* 18 / 16 */
  line-height: 1.333333333333333em;
  /* 24 / 18 */
  margin-bottom: 1.333333333333333em;
  /* 24 / 18 */ }

/* line 44, ../s/_type.scss */
h6 {
  font-size: 1em;
  /* 16 / 16 */
  line-height: 1.5em;
  /* 24 / 16 */
  margin-bottom: 1.5em;
  /* 24 / 16 */ }

/* line 49, ../s/_type.scss */
p, ul, ol, dl, blockquote {
  margin-bottom: 1.5em;
  /* 24 / 16 */ }

/* line 6, ../s/main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 12, ../s/main.sass */
body {
  background: url(../i/asfalt.png);
  border: 1em black solid;
  color: whitesmoke; }

/* line 17, ../s/main.sass */
body {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  animation-duration: 1s; }

/* line 26, ../s/main.sass */
a {
  color: #f2d03b; }

@-webkit-keyframes fadeIn {}
@-moz-keyframes fadeIn {}
@-o-keyframes fadeIn {}
@keyframes fadeIn {}
/* line 47, ../s/main.sass */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

/* line 56, ../s/main.sass */
nav[role=navigation] {
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1em; }
  /* line 60, ../s/main.sass */
  nav[role=navigation] ul {
    margin-bottom: 0;
    padding-left: 0; }
  /* line 63, ../s/main.sass */
  nav[role=navigation] li {
    display: inline-block;
    width: 25%; }
    /* line 66, ../s/main.sass */
    nav[role=navigation] li a {
      font-family: open-sans, serif;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 4px; }

/* line 72, ../s/main.sass */
.logo {
  text-align: center;
  padding-top: 1em; }
  /* line 75, ../s/main.sass */
  .logo img {
    width: 125px; }

/* line 79, ../s/main.sass */
.highlight {
  padding-bottom: 2em; }

/* line 81, ../s/main.sass */
p.bio {
  font-size: 2em;
  margin-bottom: 0;
  padding: 0; }

/* line 87, ../s/main.sass */
.work {
  padding: 1em 0 2em;
  margin: 2em 0;
  background: black; }
  /* line 92, ../s/main.sass */
  .work header {
    text-align: center; }
    /* line 94, ../s/main.sass */
    .work header h2 {
      padding-top: 0; }
  /* line 97, ../s/main.sass */
  .work figure {
    position: relative;
    cursor: pointer; }
    /* line 101, ../s/main.sass */
    .work figure figcaption {
      position: absolute;
      top: 0;
      height: 97%;
      width: 100%;
      padding: 5%;
      padding-top: 2em;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      display: none; }
      /* line 113, ../s/main.sass */
      .work figure figcaption h4 {
        font-family: open-sans, sans-serif;
        font-size: 1em;
        text-transform: uppercase; }
      /* line 118, ../s/main.sass */
      .work figure figcaption p {
        font-size: 0.75em; }
      /* line 120, ../s/main.sass */
      .work figure figcaption a.btn {
        background: #f2d03b;
        padding: 0.5em 2em;
        border-radius: 8px;
        font-size: 0.75em;
        text-decoration: none;
        color: #333333; }
    /* line 128, ../s/main.sass */
    .work figure.active figcaption {
      display: block; }
      
    .project__screenshots {
        margin-bottom: 1em;
    }
    .view-section {
        margin: 1em 0; 
    }
    .view-section a {
        
    }

/* line 135, ../s/main.sass */
.hfeed header {
  text-align: center; }
  /* line 137, ../s/main.sass */
  .hfeed header h2 {
    margin-top: 0; }
/* line 139, ../s/main.sass */
.hfeed .entry {
  padding-bottom: 1em; }
  /* line 141, ../s/main.sass */
  .hfeed .entry time {
    font-size: 0.75em;
    font-style: italic;
    color: #c1c1c1; }
  /* line 145, ../s/main.sass */
  .hfeed .entry h4 {
    margin-bottom: 0.25em;
    font-size: 1.125em; }
  /* line 148, ../s/main.sass */
  .hfeed .entry p {
    margin-top: 0.25em; }

/* line 153, ../s/main.sass */
.project header {
  text-align: center;
  margin-top: 0.5em; }
  /* line 157, ../s/main.sass */
  .project header h2 {
    margin: 0; }
/* line 160, ../s/main.sass */
.project .project__info .summary {
  float: right; }

/* line 166, ../s/main.sass */
article.post header h3 {
  font-family: merriweather, serif;
  text-transform: none;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0em; }
/* line 172, ../s/main.sass */
article.post header time {
  font-size: 0.75em;
  font-style: italic;
  color: #c1c1c1; }

/* line 179, ../s/main.sass */
.info__content h3 {
  font-family: merriweather, serif;
  font-weight: normal;
  line-height: 1.35em;
  text-transform: none;
  margin-top: 0; }

/* line 186, ../s/main.sass */
footer {
  text-align: center;
  border-top: black solid 1px;
  padding: 2em 0;
  margin-top: 2em; }
  /* line 192, ../s/main.sass */
  footer p {
    margin: 0; }
  /* line 195, ../s/main.sass */
  footer a {
    text-decoration: none; }

@media screen and (max-width: 700px) {
  /* line 203, ../s/main.sass */
  nav[role=navigation] li {
    display: inline-block;
    width: 32%; }

  /* line 207, ../s/main.sass */
  p.bio {
    font-size: 1.5em; }

  /* line 212, ../s/main.sass */
  .work figure figcaption {
    height: 100%; } }

@media screen and (max-width: 480px) { 
    body {
        font-size: 80%;
    }
    nav[role=navigation] li {
        display: block;
        width: 100%;
        text-align: center; }
     nav[role=navigation] li a{
        width: 100%;
        padding: 1em 0;
        display: block;
        border-bottom: 1px #000 solid;
     }
    }
